@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #ffa622;
  --darkOrange: #bb6000;
}

.btn{
  background-color: var(--orange);
  border-radius: 100px;
  padding: 0.8rem 3rem;
  transition: all ease .3s;
  font-weight: bold;
  text-transform: uppercase; 
  color: white;
}

.btn:hover{
  background-color: var(--darkOrange);
}

.animation-display{
  interpolate-size: allow-keywords;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
